body {
    border: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000000;
}

header {
    width: 100%;
    height: auto;

    z-index: 1;
}

.main-cabecalho {
    background-color: #2c2c2c8a;
    display: flex;
    height: 70px;
    width: 100%;
    position: fixed;
    opacity: 0.8;
}

a {
    text-decoration: none;
    width: min-content;
    color: #ffffff;
}


.nav-one {
    width: 40%;
    padding-left: 40px;
}

#xurgaris {
    color: #ffffff;
    font-size: 30px;
    margin-top: 20px;
}

.nav-two {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
    gap: 30px;
    margin-top: 10px;
}

#nav-button-cabecalho {
    border: none;
    background: none;
    font-size: 17px;
    color: #ffffff;
}

#nav-button-cabecalho:hover {
    color: #6603b2;
    cursor: pointer;
}


.nav {
    display: none;
}


.conteiner {
    display: flex;
}


.div-conteudo {
    width: 99%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-A{
    display: flex;
    gap: 10px;
    margin-left: 11px;
}

.posts{
    background-color: #212121;
    width: 225px;
    height: auto;
    margin-top: 100px;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.posts:hover{
    cursor: pointer;
    filter: brightness(70%);
}

#in-posts{
    height: 140px;
    width: 100%;
    margin-bottom: 10px;
}

#titulos-posts{
    color: #fff;
    font-size: 12px;
    margin-bottom: 4px;
}
#text-posts{
    color: #d6d3d3;
    font-size: 9px;
}

#data{
    color: #ffffff92;
    font-size: 7px;
    margin-bottom: 5px;
    margin-top: 10px;
    text-align: left;
}

.main-B{
    display: flex;
}

.main-C{
    display: flex;
}