@media only screen and (max-width: 766px) {

    /* IMAGENS */
    #logo {
        height: 50px;
    }

    #instagram {
        height: 35px;
        width: 34px;
    }
    #linked{
        height: 35px;
        width: 34px;
    }
    #x{
        height: 35px;
        width: 34px;
    }

    /* ------ X ------ */

    /* BOTÕES */
    #bot {
        background: none;
        display: none;
        background-color: #212121;
        color: #fff;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 10px;
        border-radius: 20px;
    }

    #botao-whats {
        background: none;
        background-color: #212121;
        color: #fff;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 12px;
        border-radius: 20px;
    }

    a {
        color: #000000;
        text-decoration: none;
    }

    #itens{
        font-size: 25px;
        margin-right: 50px;
    }
    
    /* ------ X ------ */
    /* Hovers */
    #bot:hover {
        filter: brightness(70%);
        cursor: pointer;
    }

    a:hover {
        filter: brightness(70%);
        color: #ebe9e9;
    }

    #instagram:hover {
        cursor: pointer;
        filter: contrast(70%);
    }

    .material-symbols-outlined:hover {
        filter: brightness(70%);
    }


    /* --------------  */
    body {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        border: 0;
        margin: 0;
    }

    header {
        display: flex;
        width: 50%;
        border-radius: 20px;
        margin: auto;
        justify-content: center;
    }

    .main-cabecalho {
        border: solid 0px #000;
        background-color: #ebe9e9;
        margin-top: 10px;
        display: flex;
        position: fixed;
        gap: 60px;
        width: 70%;
        height: 60px;
        padding: 5px;
        border-radius: 20px;
        align-items: center;
        justify-content: space-around;
    }


    .son-one {
        display: flex;
        width: 40%;
        background-color: #0ec7ff;
    }

    .son-three {
        display: flex;
        width: 40px;
        height: 100%;
    }

    #menu{
        display: none;
        background: none;
        position: fixed;
        padding: 10px;
        border-radius: 20px;
        background-color: #ebe9e9;
        margin-top: 10px;
        transition: all 0.100 ease;
    }
    .material-symbols-outlined{
        align-items: center;
        justify-content: center;
        font-size: 50px;
        margin-right: 10px;
        display: flex;
    }

    #menu {
        position: absolute;
        left: -200px; /* Inicialmente oculto */
        top: 0;
        margin-top: 60px;
        background-color: #f4f4f4;
        width: 200px;
        transition: left 0.3s ease; /* Adiciona uma transição suave */
        z-index: 1;
    }

    .nav ul {
        list-style-type: none;
        padding: 0;
    }

    .nav ul li {
        padding: 10px;
    }

    .nav ul li a {
        text-decoration: none;
        color: #333;
    }

    .material-symbols-outlined {
        cursor: pointer;
    }
    .span {
        height: 10px;
        margin-top: 100px;
        background-color: #ebe9e9;
    }

    /* ID */
    #main-titulo {
        text-align: center;
        font-size: 20px;
    }

    #son-descricao {
        font-size: 18px;
        text-align: justify;
    }

    #son-termos {
        color: rgb(41, 32, 229);
        font-size: 17px;
    }

    #termos-son {
        color: rgb(41, 122, 215);
        font-size: 17px;
    }

    #datadia {
        font-size: 15px;
        display: flex;
        justify-content: center;
    }

    .main-G {
        background-color: #ebe9e9;
        color: #000000;
        margin-top: 50px;
        display: flex;
        height: 150px;
        width: 100%;
        padding-bottom: 15px;
        align-items: center;
        justify-content: space-around;
    }

    .bodysonG-I {
        width: 70px;
    }

    .bodysonG-II {
        display: flex;
        flex-direction: column;
        gap: 1px;
        align-items: center;
        margin-left: 10px;
    }

    #ul {
        font-size: 10px;
        margin-left: -30px;
    }


    #botao-whats {
        background: none;
        background-color: #212121;
        color: #fff;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 12px;
        border-radius: 20px;
    }

    #contato {
        font-size: 10px;
        margin-bottom: 2px;
    }

    #frase-link {
        font-size: 9px;
        text-align: center;
        margin-bottom: 15px;
    }

    #gmail {
        margin-top: 10px;
    }

    #gmail,
    #numero {
        font-size: 10px;
    }


    .redes {
        font-size: 10px;
        display: flex;
        flex-direction: column;
    }
    .logos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (min-width: 767px) and (max-width: 1023px) {
    .nav{
        display: none;
    }
    /* IMAGENS */
    #logo {
        height: 80px;
    }

    #instagram {
        height: 35px;
        width: 34px;
    }

    #linked{
        height: 35px;
        width: 34px;
    }
    #x{
        height: 35px;
        width: 34px;
    }


    /* ------ X ------ */

    /* BOTÕES */
    #botao-whats {
        background: none;
        background-color: #212121;
        color: #fff;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 12px;
        border-radius: 20px;
    }

    #bot {
        background: none;
        background-color: #212121;
        color: #fff;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 15px;
        border-radius: 20px;
    }

    a {
        color: #000000;
        text-decoration: none;
    }

    /* ------ X ------ */
    /* Hovers */
    #bot:hover {
        filter: brightness(70%);
        cursor: pointer;
    }

    a:hover {
        filter: brightness(70%);
        color: #ebe9e9;
    }

    #instagram:hover {
        cursor: pointer;
        filter: contrast(70%);
    }

    /* --------------  */
    body {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        border: 0;
        margin: 0;
    }

    header {
        background-color: #ffffff;
        display: flex;
        width: 50%;
        border-radius: 20px;
        margin: auto;
        justify-content: center;
    }

    .main-cabecalho {
        border: solid 0px #000;
        background-color: #ebe9e9;
        display: flex;
        position: fixed;
        gap: 60px;
        width: 100%;
        height: 60px;
        padding: 5px;
        border-radius: 20px;
        align-items: center;
        justify-content: space-around;
    }

    .son-one {
        display: flex;
        gap: 10px;
    }

    .son-three {
        display: flex;
        gap: 10px;
    }

    .span {
        height: 10px;
        margin-top: 100px;
        background-color: #ebe9e9;
    }

    /* ID */
    #main-titulo {
        text-align: center;
        font-size: 20px;
    }

    #son-descricao {
        font-size: 18px;
        text-align: justify;
    }

    #son-termos {
        color: rgb(41, 32, 229);
        font-size: 17px;
    }

    #termos-son {
        color: rgb(41, 122, 215);
        font-size: 17px;
    }

    #datadia {
        font-size: 15px;
        display: flex;
        justify-content: center;
    }

    .main-G {
        background-color: #ebe9e9;
        color: #000000;
        margin-top: 50px;
        display: flex;
        height: 250px;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }

    .bodysonG-II {
        display: flex;
        flex-direction: column;
        width: 160px;
        gap: 2px;
        align-items: center;
        margin-top: -40px;
        margin-right: 70px;
    }

    #contato {
        font-size: 10px;
        margin-bottom: 2px;
    }

    #frase-link {
        font-size: 10px;
        text-align: center;
        margin-bottom: 15px;
    }

    #gmail,
    #numero {
        font-size: 15px;
    }

    #gmail {
        margin-top: 10px;
    }


    .redes {
        font-size: 15px;
        display: flex;
        flex-direction: column;
        margin-right: 30px;
    }
}

@media only screen and (min-width: 1024px) {
    .nav{
        display: none;
    }
    /* IMAGENS */
    #logo {
        height: 80px;
    }

    #instagram {
        height: 35px;
        width: 34px;
    }
    #linked{
        height: 35px;
        width: 34px;
    }
    #x{
        height: 35px;
        width: 34px;
    }

    /* ------ X ------ */

    /* BOTÕES */
    #botao-whats {
        background: none;
        background-color: #212121;
        color: #fff;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 15px;
        border-radius: 20px;
    }

    #bot {
        background: none;
        background-color: #212121;
        color: #fff;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 15px;
        border-radius: 20px;
    }

    a {
        color: #000000;
        text-decoration: none;
    }

    /* ------ X ------ */
    /* Hovers */
    #bot:hover {
        filter: brightness(70%);
        cursor: pointer;
    }

    a:hover {
        filter: brightness(70%);
        color: #ebe9e9;
    }

    #instagram:hover {
        cursor: pointer;
        filter: contrast(70%);
    }

    /* --------------  */
    body {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        border: 0;
        margin: 0;
    }

    header {
        display: flex;
        width: 50%;
        border-radius: 20px;
        margin: auto;
        justify-content: center;
    }

    .main-cabecalho {
        border: solid 0px #000;
        background-color: #ebe9e9;
        margin-top: 10px;
        display: flex;
        position: fixed;
        gap: 60px;
        width: 70%;
        height: 60px;
        padding: 5px;
        border-radius: 20px;
        align-items: center;
        justify-content: space-around;
    }

    .son-one {
        display: flex;
        gap: 10px;
    }

    .son-three {
        display: flex;
        gap: 10px;
    }

    .span {
        height: 10px;
        margin-top: 100px;
        background-color: #ebe9e9;
    }

    /* ID */
    #main-titulo {
        text-align: center;
        font-size: 20px;
    }

    #son-descricao {
        font-size: 18px;
        text-align: justify;
    }

    #son-termos {
        color: rgb(41, 32, 229);
        font-size: 17px;
    }

    #termos-son {
        color: rgb(41, 122, 215);
        font-size: 17px;
    }

    #datadia {
        font-size: 15px;
        display: flex;
        justify-content: center;
    }

    .main-G {
        background-color: #ebe9e9;
        color: #000000;
        margin-top: 50px;
        display: flex;
        height: 250px;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }

    .bodysonG-II {
        display: flex;
        flex-direction: column;
        width: 300px;
        gap: 2px;
        align-items: center;
        margin-top: -40px;
        margin-right: 175px;
    }


    #contato {
        font-size: 20px;
        margin-bottom: 2px;
    }

    #frase-link {
        font-size: 16px;
        text-align: center;
    }

    #gmail,
    #numero {
        font-size: 15px;
    }

    #gmail {
        margin-top: 10px;
    }


    .redes {
        font-size: 15px;
        display: flex;
        flex-direction: column;
        margin-right: 30px;
    }
}