body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    border: 0;
    background-color: #a3a3a3;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    cursor: pointer;
    filter: brightness(70%);
}

header {
    display: flex;
    width: 100%;
    border-radius: 20px;
    margin: auto;
    justify-content: center;
}

.main-cabecalho {
    border: solid 0px #000;
    backdrop-filter: blur(35px);
    -webkit-backdrop-filter: blur(35px);
    -moz-backdrop-filter: blur(35px);
    padding: 5px;
    height: 80px;
    width: 100%;
    gap: 60px;
    display: flex;
    position: fixed;
    margin-top: -20px;
    align-items: center;
    justify-content: space-around;
}

.son-one {
    display: flex;
    gap: 10px;
}

.son-three {
    display: flex;
    gap: 10px;
}

#bot {
    display: none;
    border: none;
    background: none;
    font-size: 15px;
    font-weight: bolder;
    color: #ffffff;
}

#bot:hover {
    cursor: pointer;
    filter: brightness(70%);
}

#xurgaris {
    color: #fff;
    margin-left: 40px;
}

.nav {
    position: relative;
    margin-right: 40px;
}

#menu {
    display: none;
    position: absolute;
    left: -210px;
    top: 0;
    background-color: #f4f4f4;
    width: 200px;
    transition: left 0.3s ease;
    z-index: -400; /* Ajustado o z-index */
    margin-top: 60px;
    margin-left: 10px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}

#itens {
    display: flex;
    text-align: center;
    justify-content: center;
}

#itens:hover {
    filter: brightness(70%);
    color: #f4f4f4;
}

.nav ul {
    list-style-type: none;
    padding: 0;
}

.nav ul li {
    padding: 10px;
}

.nav ul li a {
    text-decoration: none;
    color: #333;
}

.material-symbols-outlined {
    cursor: pointer;
}

.conteiner {}

.conteudo-corpo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

#primeiro-banner-A {
    height: 186px;
    z-index: -1;
}

.main-A {
    margin-top: -50px; /* Reduzi a margem superior */
    backdrop-filter: blur(35px);
    -webkit-backdrop-filter: blur(35px);
    -moz-backdrop-filter: blur(35px);

    background-color: #f4f4f4;
    width: 90%;
    height: auto;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: -1; /* Ajustado o z-index */
}

#tituloA-I {
    color: #000000;
    font-size: 15px;
}

#textoA-I {
    color: #000000;
    text-align: justify;
    font-size: 10px;
}

.bodysonA-I {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

#titulos {
    font-size: 15px;
    color: #000000;
}
span{
    color: #000000
}

.bodysonAA-I {
    display: flex;
    flex-direction: column;
}

.bodysonAA-II {
    display: flex;
    flex-direction: column;
}

#aviso-termos {
    margin-top: 0px;
    font-size: 10px;
}

#bot-termos {
    background: none;
    border: 0;
    font-size: 10px;
    text-decoration: wavy;
    color: #000000;
}

#bot-termos:hover {
    cursor: pointer;
    color: #000000;
}
