body {
  background:#0f0f0f;
  color:#fff;
  font-family:Arial;
}

.login {
  max-width:300px;
  margin:100px auto;
}

input, button {
  width:100%;
  padding:10px;
  margin-bottom:10px;
}

table {
  width:100%;
  border-collapse:collapse;
  margin-top:20px;
}

th, td {
  border:1px solid #333;
  padding:8px;
}
