body {
  background:#0f0f0f;
  font-family:Arial, sans-serif;
  color:#fff;
}

.container {
  max-width:700px;
  margin:40px auto;
  background:#1a1a1a;
  padding:30px;
  border-radius:8px;
}

h1 {
  text-align:center;
}

.contrato {
  background:#111;
  padding:15px;
  max-height:200px;
  overflow:auto;
  margin-bottom:20px;
}

input {
  width:100%;
  padding:12px;
  margin-bottom:10px;
  border:none;
  border-radius:5px;
}

canvas {
  width:100%;
  height:150px;
  background:#fff;
  margin-bottom:10px;
}

button {
  padding:12px;
  border:none;
  border-radius:5px;
  cursor:pointer;
}

.btn {
  background:#00ff88;
  width:100%;
  font-weight:bold;
}

.aceite {
  display:block;
  margin:10px 0;
}
